/* Mobile-first approach (recommended) */
/* Base styles for mobile */

/* Tablet */
@media (min-width: 768px) {
    /* Styles for tablets */
}

/* Desktop */
@media (min-width: 1024px) {
    /* Styles for desktop */
}

/* Large desktop */
@media (min-width: 1200px) {
    /* Styles for large screens */
}

body {
    margin: 0;
    background: linear-gradient(180deg, #FBCDC0, transparent);
}

body #gallery, body #sns {
    margin-top: 10vh;
}

img,
video,
iframe {
    max-width: 100%;
    height: auto;
}

/* nav */

nav {
    display: flex;
    justify-content: space-between;
    font-family: Kodchasan;
    background: #00000075;
    color: white;
    font-size: max(15px, 1.2vw);
    position: sticky;
    top: 0;
    /* Menempel saat menyentuh titik 0 di atas */
    z-index: 1;
}

nav .logo,
nav ul {
    margin: 1.5vh 3vw;
}

nav a {
    color: white !important;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: max(1vw, 2vw);
    /* Jarak antar menu */
}

/* Efek saat mouse di atas menu (hover) */
.nav-links a:hover {
    color: #d1b4a5;
}

/* intro */
#intro {
    display: flex;
    justify-content: center;
}

#intro {
    font-size: max(40px, 4vw)
}

#intro .text {
    align-content: center;
    font-family: DMSerif;
    font-weight: 700;
    margin: 0 5vw;
}

#intro .pic {
    margin: 0 5vw;
}

#intro .text .art {
    font-family: Pacifico;
    font-weight: 100;
}

#intro img {
    max-width: 20vw;
    display: none;
}

.text small {
    font-size: max(20px, 1.5vw);
    font-family: Pacifico;
    font-weight: 100;
}

.subtitle {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    font-family: DMSerif;
}

.row {
    display: flex;
    flex-direction: column;
}

.row img {
    max-width: 500px;
    border-radius: 30px;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.3);
    margin: 1vh auto;
    width: 90vw;
}

#sns {
    margin-bottom: 20vh;
    display: flex;
    justify-content: center;
}

.icons {
    display: inline-flex;
    border-bottom: 5px solid #000;
}

.icons a {
    gap: 5px;
    width: 15vw;
}

@media (min-aspect-ratio: 16/9) {
    nav {
        position: fixed;
        width: -webkit-fill-available;
    }

    .row {
        flex-direction: row;
        margin-top: 5vh;
        justify-content: center;
    }

    .row img {
        margin: auto 1vw;
        width: max(20px, 20vw);
    }

    #featured .row img {
        height: 20vh;
    }

    #intro img {
        display: initial;
    }

    #intro {
        margin: 28vh;
    }

    .subtitle {
        font-size: 2.4vw;
    }

    .icons a {
        margin: 5px;
        width: 4vw;
    }
}

@font-face {
    font-family: Kodchasan;
    src: url(fonts/Kodchasan/Kodchasan-Regular.ttf);
}

@font-face {
    font-family: Kodchasan-Bold;
    src: url(fonts/Kodchasan/Kodchasan-Bold.ttf);
}

@font-face {
    font-family: Pacifico;
    src: url(fonts/Pacifico/Pacifico-Regular.ttf);
}

@font-face {
    font-family: DMSerif;
    src: url(fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf);
}

/* Style the Image Used to Trigger the Modal */
#gallery img {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#gallery img:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 2;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    /*width: 80%;*/
    max-width: 38vw;
    max-height: 78vh;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}